{% load static %}

<a id="ach" href = "{% url 'mypost' post.slug %}" style="text-decoration: none; color: inherit;">
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <div class="overflow-hidden" style="max-height: 900px;">
        <div class="container px-5">
          <img id="image" src="{% static 'myapp/'|add:post.img %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="{{post.title}}" width="200" height="150" loading="lazy">
        </div>
      </div>
    <h1 class="display-4 fw-bold text-body-emphasis">{{post.title}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ post.excerpt }}</p>
     
    </div>
   
  </div>
</a>